* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body style */
body {
    font-family: 'Arial', sans-serif;
    background-color: #2c2f36;
    color: #f0f0f0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Container for the main content */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 800px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Title style */
h1 {
    margin-top: 30px;
    margin-bottom: 20px; 
}

/* Label and input styling */
label {
    font-size: 1.2rem;
    margin-bottom: 10px;
    display: block;
}

.input-container {
    display: flex;
    align-items: center;
    width: 100%; /* Make the container span the full width */
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1; /* Allow the input to take up remaining space */
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #3e434b;
    color: #f0f0f0;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 16px;
    white-space: nowrap; /* Ensure text stays on one line */
}

button:hover {
    background-color: #0056b3;
}

#specialCharactersInput {
    letter-spacing: 2px; /* Add more spacing between characters */
    width: 66.66%; /* Make the input field occupy roughly two-thirds of the container */
    margin-bottom: 30px; /* Add margin to separate it from the outputs */
}

/* Flex container for outputs and descriptions */
.output-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Center align items vertically */
    width: 100%;
    margin-bottom: 20px;
}

.output-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-button-container {
    display: flex;
    justify-content: space-between; /* Ensure description and button are spaced apart */
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-top: 10px; /* Add margin to separate it from the output */
}

.output-description {
    font-weight: bold;
    color: #f0f0f0;
    margin-right: 10px; /* Add some space between the description and the button */
    text-align: left; /* Ensure text is aligned to the left */
}

div#textOutput1,
div#textOutput2,
div#textOutput3 {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #2e2e2e;
    color: #e0e0e0;
    min-height: 50px;
    width: 100%;
    max-width: 400px;
}
